# Files created by OS
#
.DS_Store
Desktop.ini

# Files created by IDE
#
/.idea/
/.vscode/

/*.code-workspace

# Error logs
#
/yarn-error.log

# Generated & compiled files
#
/lib/

# Downloadable & installable modules & components
#
/node_modules/

# Not ignored
#
!.gitkeep
